<app-header [headerText]="headerText"></app-header>
<div class="container-fluid mt-5">
  <div class="row mb-5">
    <div class="col-12">
      <h2 class="text-white">Bücher</h2>
    </div>
    <div class="col-12 col-md-4 mt-3" *ngFor="let book of books" >
      <div class="card text-white" >
        <div class="card-body">
          <span class="badge float-right badge-light"> {{ book.level }} </span>
          <span class="h2">{{ book.name }}</span> <br>
          <small class="text-primary">{{ book.author }}</small>
          <p class="card-text"> {{ book.description }} </p>
          <a href="{{book.url}}" class="btn btn-primary">Amazon (Affiliate Link)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 mb-3">
      <h2 class="text-white">Kurse & Coaching</h2>
    </div>
    <div class="col-12">
      <div class="card text-white" >
        <div class="card-body">
          <span class="h2">Investment Mue</span> <br>
          <small class="text-primary">Steffen Müller</small>
          <p class="card-text"> Das Coaching von Steffen ist der optimale Einstieg wenn es um Aktien geht. Neben vielen Informationen und Tipps gibt es auch einen regelmäßigen Austausch. </p>
          <a href="https://investment-mue.de/" class="btn btn-primary">Zum Angebot</a>
        </div>
      </div>
    </div>
  </div>
</div>

