.container-fluid
  height: 80px
  box-shadow:  10px -10px 20px #2c3136, -10px 10px 20px #3c434a
  background: linear-gradient(45deg, #2f343a, #383e44)
  border-radius: 34px 34px 0 0
.toolbarNav
  display: flex
  justify-content: space-around
  background: linear-gradient(45deg, #2f343a, #383e44)
  a
    border-radius: 0
    display: block
    transition: 200ms ease-in-out
    border-radius: 70px
    height: 110px
    width: 110px
  a:hover,
  a:active
    background: linear-gradient(45deg, #2f343a, #383e44)
    box-shadow:  10px -10px 20px #2c3136, -10px 10px 20px #3c434a
    margin-top: -50px
    padding-top: 20px

.active-nav
  background: linear-gradient(45deg, #2f343a, #383e44)
  box-shadow:  10px -10px 20px #2c3136, -10px 10px 20px #3c434a
  margin-top: -50px
  padding-top: 20px



