<div class="container-fluid bg-white">
  <div class="row text-center pt-3 px-2">
    <mat-toolbar class="toolbarNav">
      <a routerLink="/" class="text-light font-weight-bold" (click)="clickEvent(1)"
      [ngClass]="status == 1 ? 'active-nav' : ''" routerLinkActive="active">

        <mat-icon class="material-icons color_blue">
          dashboard</mat-icon> <br>
        News

      </a>
      <a routerLink="/settings" class="text-light font-weight-bold" routerLinkActive="active" (click)="clickEvent(2)" [ngClass]="status == 2 ? 'active-nav' : ''">

        <mat-icon class="material-icons color_blue">settings
        </mat-icon> <br>
        Settings

      </a>
      <a routerLink="/wissen" class="text-light font-weight-bold" routerLinkActive="active" (click)="clickEvent(3)" [ngClass]="status == 3 ? 'active-nav' : ''">
        <mat-icon class="material-icons color_blue">lightbulb</mat-icon>
        <br>
        Wissen
      </a>
      <a routerLink="/faq" class="text-light font-weight-bold" routerLinkActive="active" (click)="clickEvent(4)" [ngClass]="status == 4 ? 'active-nav' : ''">
        <mat-icon class="material-icons color_blue">question_answer</mat-icon>
        <br>
        FAQ
      </a>
    </mat-toolbar>
    <!-- <div class="col">

    </div>
    <div class="col">
      <a routerLink="/settings" class="text-light font-weight-bold"  routerLinkActive="active">
        Settings
      </a>
    </div>
    <div class="col">

    </div> -->
  </div>
</div>
